<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <i class="fa fa-hospital-o fa-5x" aria-hidden="true"></i>
</div>
<div class="form-group">
  <label for="textSearch">Cerca paziente per nome</label>
  <input [(ngModel)]="name" (input)="filterItem(name)" type="text" class="form-control" id="textSearch" placeholder="Inserisci il nome del paziente">
</div>
<div *ngFor="let row of filteredItems; let i = index">
  <div *ngIf="i % 4 === 0" class="row">
    <div *ngFor="let patient of filteredItems.slice(i,i+4)">
      <div class="col">
        <app-patient-view [patient]="patient" ></app-patient-view>
      </div>
    </div>
  </div>
</div>

